{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "parser": "typescript",
  "requirePragma": false,
  "insertPragma": false,
  "proseWrap": "always",
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "vueIndentScriptAndStyle": true,
  "embeddedLanguageFormatting": "auto",
  "printWidth": 140,
  "tabWidth": 2,
  "useTabs": true
}
